**/__pycache__/
**/jfblocker.db
**/main.spec

dist/
build/
venv/
.version_history/
.initial_files/

fixtureInfo.json
jocelinefb.db
jfblocker.conf.json
joceline_fixture_blocker.code-workspace
**/externDb.db
last_result.log
retest_result.txt
test.py
test.txt
online_result.txt
/.vscode
/dummy_data
/reports
