altgraph==0.17.4
annotated-types==0.7.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
idna==3.10
Markdown==3.8
packaging==24.2
peewee==3.17.9
pefile==2023.2.7
pydantic==2.12.3
pydantic_core==2.41.4
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pywin32-ctypes==0.2.3
QtPy==2.4.3
qtwidgets==1.1
requests==2.32.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
